body{
	
}
#menu{
	margin:0px;
	padding:0px;
	width:100%;
	height:50px;
	background-color:white;
	color:white;
}
body{font-family:sans-serif;}
nav{background:black;height:52px;width:100%;position:fixed;top:0;left:0;}
nav ul{list-style:none;margin:0 auto;padding:0;width:100%;max-width:1200px;}
nav ul ul{display:none;position:absolute;top:100%;left:0;width:100%;}
nav ul li{position:relative;float:left;width:20p%;text-align:center;}
nav ul li:hover ul{display:block;}
nav ul li li{position:relative;float:none;width:100%;border:none;}
nav ul li a{display:block;text-decoration:none;color:white;padding:15px 25px;font-size:1.2em;box-sizing:border-box;border-right:solid 2px #000; border-left:solid 2px #000;}
nav ul ul li a{font-size:1rem;border-bottom:solid 2px #000;}
nav ul ul li:first-child a{border-top:solid 2px #000;}
nav ul li:hover a{background:black; color:white;text-decoration:none;transition:0.5s;}

#contenuto{
	width:100%;
	height:500px;
	background-color:white;
	
	
	
	

	
	
}
#footer{
	width:100%;
	height:100px;
	background-color:black;
	color:white;
}
.footer{
	width:100%;
	height:100px;
	padding:0;
	margin:0;
	position:relative;
}
.table1{
	width:100%;
	height:100px;
	padding:0;
	margin:0;
	position:relative;
}

#slideshow {
  overflow: hidden;
  height: 310px;
  width: 728px;
  margin: 0 auto;
  

}
.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 20s ease infinite;
  
}
.slide {
  float: left;
  height: 510px;
  width: 728px;
}
.slide:nth-child(1) {
  background: #D93B65;
}
.slide:nth-child(2) {
  background: #037E8C;
}
.slide:nth-child(3) {
  background: #36BF66;
}
.slide:nth-child(4) {
  background: #D9D055;
}
.slide-number {
  color: #000;
  text-align: overline;
  font-size: 70px;
}
@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}
.text{
	margin-left:200px;
	margin-right:200px;
	
}
#sfondo{
	
}

© 2021 GitHub, Inc.
